# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/

# macOS
.DS_Store
*.swp
*.swo

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Generated
*.g.dart
*.freezed.dart